<div class="max-w-[1240px] p-4 mt-14 mx-auto">
  <div class="space-y-6">
    <!-- popular movies -->
    <media-swiper
      label="Popular Movies"
      [items]="popularMovies.data?.results ?? []"
      type="movies"
    />
    <!-- popular movies -->

    <!-- popular tv shows -->
    <media-swiper
      label="Popular TV Shows"
      [items]="popularTvShows.data?.results ?? []"
      type="tv-shows"
    />
    <!-- popular tv shows -->

    <!-- top rated movies -->
    <media-swiper
      label="Top Rated Movies"
      [items]="topRatedMovies.data?.results ?? []"
      type="movies"
    />
    <!-- top rated movies -->

    <!-- top rated tv shows -->
    <media-swiper
      label="Top Rated TV Shows"
      [items]="topRatedTvShows.data?.results ?? []"
      type="tv-shows"
    />
    <!-- top rated tv shows -->
  </div>
</div>
