<div class="max-w-[1240px] p-4 mt-14 mx-auto">
  <h1 class="text-3xl font-bold mb-2">{{ title }}</h1>
  <!-- <section-label label="{{ title }}" /> -->

  <div class="grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-4">
    <a
      *ngFor="let item of items"
      class="hover:shadow-lg hover:scale-[1.01] hover:cursor-pointer"
      routerLink="{{ item.id }}"
    >
      <div
        class="pt-[160%] w-full h-full"
        [ngStyle]="{
          position: 'relative',
          backgroundSize: 'cover',
          backgroundPosition: 'center',
          backgroundColor: 'darkgrey',
          backgroundImage: 'url(https://image.tmdb.org/t/p/original' + item.poster_path + ')',
        }"
      >
        <div
          class="absolute h-full w-full bottom-0 left-0 bg-gradient-to-t from-black to-transparent"
        >
          <div
            class="absolute bottom-0 left-0 p-4 flex gap-2 w-full justify-between items-end"
          >
            <div>
              <p class="font-bold tracking-tight mt-2">
                {{ item.title }}
              </p>
              <p class="font-medium">
                {{ item.release_date.slice(0, 4) }}
              </p>
            </div>

            <rating [rating]="item.vote_average" />
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
