<div>
  <section-label label="Cast" />

  <swiper-container
    init="false"
    appSwiperDirective
    [config]="config"
    class="w-full pb-12 pr-12 md:pr-16"
  >
    <swiper-slide
      *ngFor="let cast of casts.slice(0, 20)"
      class="h-72 sm:h-[19rem] md:h-80"
    >
      <div
        class="h-full w-full"
        [ngStyle]="{
          background:
            cast.profile_path ? 'url(https://image.tmdb.org/t/p/w500' + cast.profile_path + ')' : 'url(/assets/images/image-placeholder.svg)',
          backgroundSize: 'cover',
          backgroundPosition: 'center center',
        }"
      >
        <div
          class="bg-black bg-opacity-60 w-full absolute bottom-0 h-max p-2 tracking-tighter"
        >
          <p class="font-medium">{{ cast.name }}</p>
          <p class="text-sm text-gray-100">{{ cast.character }}</p>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</div>
