<h1 class="text-3xl font-bold mb-2">TV Shows</h1>
<div class="grid grid-cols-2 gap-4 md:grid-cols-4 lg:grid-cols-6">
  <div
    *ngFor="let tvShow of tvShows"
    class="border rounded flex p-2 shadow-md justify-center hover:shadow-lg hover:scale-[1.01]"
    (click)="goToTvShowDetails(tvShow.id)"
  >
    <div class="flex flex-col">
      <img
        [src]="'https://image.tmdb.org/t/p/w500' + tvShow.poster_path"
        [alt]="tvShow.name"
        class="h-72"
      />
      <span class="font-bold">{{ tvShow.name }}</span>
      <span>{{ tvShow.vote_average }}</span>
      <span>{{ tvShow.first_air_date }}</span>
    </div>
  </div>
</div>
