<div>
  <section-label [label]="label" />

  <swiper-container appSwiperDirective [config]="config" class="w-full pb-12">
    <swiper-slide *ngFor="let image of images.slice(0, 10)">
      <div
        class="pt-[160%] h-full w-full"
        [ngStyle]="{
        background:
          image.file_path ? 'url(https://image.tmdb.org/t/p/original' + image.file_path + ')' : 'darkgray',
        backgroundSize: 'cover',
        backgroundPosition: 'center',
      }"
      ></div>
    </swiper-slide>
  </swiper-container>
</div>
