<ng-container *ngIf="movie.isLoading; then loading; else detail"></ng-container>

<ng-template #loading>
  <loading />
</ng-template>

<ng-template #detail>
  <image-backdrop [backdropPath]="movie.data?.movie?.backdrop_path ?? ''" />
  <div class="max-w-[1240px] p-4 mt-14 mx-auto">
    <div
      class="flex flex-col md:flex-row bg-transparent gap-4 mt-[-20rem] xl:mt-[-25rem]"
    >
      <!-- poster image -->
      <div class="w-[50%] md:w-[30%] mx-auto">
        <image-poster [posterPath]="movie.data?.movie?.poster_path ?? ''" />
      </div>
      <!-- poster image -->

      <!-- movie details -->
      <div class="text-white w-full md:w-[70%] space-y-4">
        <h1 class="font-bold mb-2 text-4xl lg:text-6xl">
          {{ movie.data?.movie?.title }}
        </h1>
        <h2 class="text-3xl lg:text-5xl">
          {{ movie.data?.movie?.release_date?.slice(0, 4) }}
        </h2>

        <!-- genres -->
        <div>
          <genre-list [genres]="movie.data?.movie?.genres ?? []" />
        </div>
        <!-- genres -->

        <!-- rating and runtime -->
        <div class="flex gap-4 items-center">
          <rating [rating]="movie.data?.movie?.vote_average ?? 0" />
          <p class="font-semibold">{{ movie.data?.movie?.runtime }} minutes</p>
        </div>
        <!-- rating and runtime -->

        <!-- description -->
        <div class="tracking-normal">
          <p>{{ movie.data?.movie?.overview }}</p>
        </div>
        <!-- description -->

        <!-- button button -->
        <div class="flex gap-2">
          <back-button />
          <favorite-button />
        </div>
        <!-- button button -->
      </div>
      <!-- movie details -->
    </div>

    <div class="flex flex-col gap-10 mt-4">
      <!-- cast swiper -->
      <cast-swiper [casts]="movie.data?.credit?.cast ?? []" />
      <!-- cast swiper -->

      <!-- videos -->
      <!-- <video-swiper [videos]="videos.data?.results ?? []" /> -->
      <!-- videos -->

      <!-- backdrops -->
      <!-- <backdrop-swiper [images]="images.data?.backdrops ?? []" /> -->
      <!-- backdrops -->

      <!-- posters -->
      <!-- <poster-swiper [images]="images.data?.posters ?? []" /> -->
      <!-- posters -->

      <!-- reviews -->
      <review-list />
      <!-- reviews -->

      <!-- recommendations -->
      <media-swiper
        [items]="movie.data?.recommendations ?? []"
        mediaType="movies"
      />
      <!-- recommendations -->
    </div>
  </div>
</ng-template>
