<!-- swiper with gradient bottom -->
<swiper-container
  appSwiperDirective
  [config]="config"
  class="relative swiper-container"
>
  <swiper-slide *ngFor="let media of medias">
    <div
      class="w-full h-full pt-[130%] md:pt-[60%] lg:pt-[45%]"
      [ngStyle]="{
        background:
        media.backdrop_path ? 'url(https://image.tmdb.org/t/p/original' + media.backdrop_path + ')' : 'darkgray',
        backgroundSize: 'cover',
        backgroundPosition: 'center top',
      }"
    >
      <!-- gradient to right -->
      <div
        class="absolute h-full w-full top-0 left-0 bg-gradient-to-r from-stone-950 to-transparent px-10 sm:px-[5rem] md:px-[8rem] lg:px[10rem]"
      >
        <!-- media info -->
        <div
          class="flex items-center relative w-full h-full sm:w-[70%] md:w-[40%]"
        >
          <div class="space-y-4">
            <div class="space-y-1">
              <!-- title -->
              <h1
                class="font-bold text-4xl pb-1 lg:pb-3 lg:text-6xl line-clamp-2"
              >
                {{ media.title || media.name }}
              </h1>
              <!-- title -->

              <!-- release/air date -->
              <h2 class="text-2xl lg:text-4xl">
                {{
                  media.release_date?.slice(0, 4) ||
                    media.first_air_date?.slice(0, 4)
                }}
              </h2>
              <!-- release/air date -->
            </div>

            <!-- genres -->
            <div>
              <genre-list [genres]="media.genres ?? []" />
            </div>
            <!-- genres -->

            <!-- rating and runtime -->
            <div class="flex gap-4 items-center">
              <rating [rating]="media.vote_average ?? 0" />
              <genre-list
                [genres]="[
                  {
                    id: 1,
                    name: 'Action'
                  },
                  {
                    id: 1,
                    name: 'Action'
                  }
                ]"
              />
            </div>
            <!-- rating and runtime -->

            <!-- description -->
            <div class="tracking-normal line-clamp-3">
              <p>{{ media.overview }}</p>
            </div>
            <!-- description -->

            <!-- view movie button -->
            <button
              class="inline-flex gap-2 items-center font-semibold bg-red-600 rounded px-4 py-2 text-sm hover:bg-red-700"
              routerLink="{{
                media.media_type === 'movie' ? 'movies' : 'tv-shows'
              }}/{{ media.id }}"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-4 h-4"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.5 5.653c0-1.426 1.529-2.33 2.779-1.643l11.54 6.348c1.295.712 1.295 2.573 0 3.285L7.28 19.991c-1.25.687-2.779-.217-2.779-1.643V5.653z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="uppercase">View Movie</span>
            </button>
            <!-- view movie button -->
          </div>
        </div>
      </div>
      <!-- media info -->
    </div>
    <!-- gradient to right -->
  </swiper-slide>
</swiper-container>
<!-- swiper -->
