<ng-container
  *ngIf="
    popularMovies.isLoading ||
      popularTvShows.isLoading ||
      topRatedMovies.isLoading ||
      topRatedTvShows.isLoading;
    then loading;
    else list
  "
></ng-container>

<ng-template #loading>
  <loading />
</ng-template>

<ng-template #list>
  <!-- trending movie swiper -->
  <trending-swiper [medias]="trendingMedia.data.results ?? []" />
  <!-- trending movie swiper -->
  <div class="max-w-[1240px] p-4 mx-auto">
    <div class="space-y-6">
      <!-- popular movies -->
      <media-swiper
        label="Popular Movies"
        [items]="popularMovies.data?.results ?? []"
        mediaType="movies"
      />
      <!-- popular movies -->

      <!-- popular tv shows -->
      <media-swiper
        label="Popular TV Shows"
        [items]="popularTvShows.data?.results ?? []"
        mediaType="tv-shows"
      />
      <!-- popular tv shows -->

      <!-- top rated movies -->
      <media-swiper
        label="Top Rated Movies"
        [items]="topRatedMovies.data?.results ?? []"
        mediaType="movies"
      />
      <!-- top rated movies -->

      <!-- top rated tv shows -->
      <media-swiper
        label="Top Rated TV Shows"
        [items]="topRatedTvShows.data?.results ?? []"
        mediaType="tv-shows"
      />
      <!-- top rated tv shows -->
    </div>
  </div>
</ng-template>
