<header class="fixed top-0 w-full h-16 z-[1000] bg-stone-900 shadow-md">
  <nav
    class="flex justify-between items-center max-w-[1240px] w-full h-full px-4 mx-auto"
  >
    <div class="flex gap-6 items-center">
      <div class="text-2xl font-bold tracking-tighter">
        <a routerLink="/">Movie<span class="text-red-600">App</span></a>
      </div>

      <ul class="space-x-4 flex font-semibold uppercase text-sm">
        <li *ngFor="let link of links">
          <a
            class="text-white hover:text-red-500 px-4 py-2"
            routerLink="{{ link.path }}"
            routerLinkActive="bg-red-600 rounded hover:bg-red-700 hover:text-white"
            >{{ link.label }}</a
          >
        </li>
      </ul>
    </div>

    <a
      routerLink="/login"
      class="font-semibold uppercase text-sm bg-red-600 rounded px-4 py-2 hover:bg-red-700"
      >Sign In</a
    >
  </nav>
</header>
