<header class="fixed top-0 w-full h-16 z-[1000] bg-stone-900 shadow-md">
  <nav
    class="flex justify-between items-center max-w-[1240px] w-full h-full px-4 mx-auto"
  >
    <div class="flex gap-6 items-center">
      <div class="text-2xl font-bold tracking-tighter">
        <a routerLink="/">Movie<span class="text-red-600">App</span></a>
      </div>

      <ul class="space-x-4 flex font-semibold uppercase text-sm">
        <li *ngFor="let link of links">
          <a
            class="text-white hover:text-red-500 px-4 py-2"
            routerLink="{{ link.path }}"
            routerLinkActive="bg-red-600 rounded hover:bg-red-700 hover:text-white"
            >{{ link.label }}</a
          >
        </li>
      </ul>
    </div>

    <ng-container
      *ngIf="authService.isLoggedIn$ | async; then loggedIn; else notLoggedIn"
    ></ng-container>

    <!-- not logged in -->
    <ng-template #notLoggedIn>
      <a
        routerLink="/login"
        class="font-semibold uppercase text-sm bg-red-600 rounded px-4 py-2 hover:bg-red-700"
        >Sign In</a
      >
    </ng-template>
    <!-- not logged in -->

    <!-- logged in -->
    <ng-template #loggedIn>
      <div class="flex items-center gap-4">
        <div class="flex items-center gap-2">
          <div
            class="relative w-8 h-8 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600"
          >
            <svg
              class="absolute w-10 h-10 text-gray-400 -left-1"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </div>
          <span>{{ name }}</span>
        </div>
        <button
          (click)="authService.logout()"
          class="font-semibold uppercase text-sm bg-red-600 rounded px-4 py-2 hover:bg-red-700"
        >
          Sign Out
        </button>
      </div>
    </ng-template>

    <!-- logged in -->
  </nav>
</header>
