<ng-container
  *ngIf="
    tvShow.isLoading || credit.isLoading || images.isLoading;
    then loading;
    else movieDetail
  "
></ng-container>

<ng-template #loading>
  <loading />
</ng-template>

<ng-template #movieDetail>
  <image-backdrop [backdropPath]="tvShow.data?.backdrop_path ?? ''" />
  <div class="max-w-[1240px] p-4 mt-14 mx-auto">
    <div
      class="flex flex-col md:flex-row bg-transparent gap-4 mt-[-20rem] xl:mt-[-25rem]"
    >
      <!-- poster image -->
      <div class="w-[50%] md:w-[30%] mx-auto">
        <image-poster [posterPath]="tvShow.data?.poster_path ?? ''" />
      </div>
      <!-- poster image -->

      <!-- tv show details -->
      <div class="text-white w-full md:w-[70%] space-y-4">
        <app-back-button />

        <h1 class="font-bold mb-2 text-4xl lg:text-6xl">
          {{ tvShow.data?.name }}
        </h1>
        <h2 class="text-3xl lg:text-5xl">
          {{ tvShow.data?.first_air_date?.slice(0, 4) }}
        </h2>

        <!-- genres -->
        <div>
          <genre-list [genres]="tvShow.data?.genres ?? []" />
        </div>
        <!-- genres -->

        <!-- rating -->
        <div class="flex gap-2 items-center">
          <rating [rating]="tvShow.data?.vote_average ?? 0" />
        </div>
        <!-- rating -->

        <!-- description -->
        <div class="tracking-normal">
          <p>{{ tvShow.data?.overview }}</p>
        </div>
        <!-- description -->

        <!-- favorite button -->
        <div class="py-4">
          <favorite-button />
        </div>
        <!-- favorite button -->
      </div>
      <!-- tv show details -->
    </div>

    <div class="flex flex-col gap-10 mt-4">
      <!-- cast lists -->
      <cast-list [casts]="credit.data?.cast ?? []" />
      <!-- cast lists -->

      <!-- videos -->
      <video-swiper [videos]="videos.data?.results ?? []" />
      <!-- videos -->

      <!-- backdrops -->
      <backdrop-swiper [images]="images.data?.backdrops ?? []" />
      <!-- backdrops -->

      <!-- posters -->
      <poster-swiper [images]="images.data?.posters ?? []" />
      <!-- posters -->

      <!-- reviews -->
      <review-list />
      <!-- reviews -->

      <!-- recommendations -->
      <media-swiper
        [items]="recommendations.data?.results ?? []"
        mediaType="tv-shows"
      />
      <!-- recommendations -->
    </div>
  </div>
</ng-template>
